body {
    background-color: lightgrey;
    margin-left: 15px;
    font-family: "Times New Roman";
    margin: 60px;
}

p, ol {
    font-size: 20px;
    text-indent: 20px;
}
.imgDiv{
    text-align:center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.container {
    padding: 40px;
    background-color: #d0e4fe;
}
.title1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.title2 {
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}
